@charset "utf-8";
h1{font-size: 24px}
h2{font-size: 20px}
h3{font-size: 16px}
hr{ border: 1px none;}
*{font-size: 14px}
body{padding:5px;}
table{font-size: 11px}
th{border:solid #ccc; border-width:0px 1px 1px 0px; padding:5px 2px;min-width: 80px;background-color: #eee;}
td{border:solid #ccc; border-width:0px 1px 1px 0px; padding:5px 2px;}
tr{border:none;}
pre{background-color: #eee; border: 1px solid #666;padding:10px;}

table{
	width: 100%;
	border:solid #ccc; border-width:1px 1px 1px 1px; 
	border-collapse: collapse;}
	table.trans-table tr td:FIRST-CHILD{ width:120px;}