<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         id="WebApp_ID" version="2.4">
    <display-name>mmp</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:META-INF/spring/*-context.xml</param-value>
    </context-param>
    <listener>
        <listener-class>cn.com.yitong.ares.core.SpringContextLoaderListener</listener-class>
    </listener>
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>jsonpFilter</filter-name>
        <filter-class>cn.com.yitong.framework.net.JsonpCallbackFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>jsonpFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>theadContextFiler</filter-name>
        <filter-class>cn.com.yitong.core.web.filter.ThreadContextFilter</filter-class>
        <init-param>
            <param-name>loginUrls</param-name>
            <param-value>/ares/login/ClientLogin.do;/login/LoginData.do;/ares/login/ClientNoLogin.do;
            /ares/appManage/saveAppVers.do;/ares/fileserver/uploadFile.do;/ares/synDict/cleanSynDict.do
   </param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>theadContextFiler</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CasFilter</filter-name>
        <filter-class>cn.com.yitong.portal.thirdApp.filter.CasFilter</filter-class>
        <init-param>
            <param-name>openUrls</param-name>
            <param-value>/thirdApp/*</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CasFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

     <filter>
         <filter-name>SessionFilter</filter-name>
         <filter-class>cn.com.yitong.framework.core.filter.SessionFilter</filter-class>
         <init-param>
             <param-name>exclude</param-name>
             <param-value>
                 index.do;ares.do;portal.do;ydyx.do;ares/login/*;test/*;common/*;ares/deviceInfo*;ares/login/BusiLog*;ares/login/NetworkHeart*;
                 ares/appManage/getHtmlUpdateInfo.do;ares/appManage/getApkUpdateInfo.do;ares/appManage/roleApp.do;app/appManage/getApkUpdateInfo.do;
                 ares/appManage/fileDownLoad.do;ares/appManage/oneFileDownLoad.do;ares/synDict/cleanSynDict.do;
                 ares/mp/aresMpMsgTaskInsert.do;ares/mp/aresMpMsgTmplInsert.do;ares/mp/aresMpMsgTypeList.do;ares/appManage/saveAppVers.do;
                 /download/userResource/file.do;/download/userResource/img.do;portal/note/noteList.do;download/userResource/bussDocumentInfo.do;
                 download/userResource/surveyReport.do;
                 download/userResource/financeReport.do;download/userResource/yxInfo.do;
                 json/crud/list/ItemList.do;json/crud/AreaList.do;json/creditCard/cardConfirmation.do;
                 ares/fileserver/getFilesStatus.do;ares/fileserver/uploadFile.do;ares/fileserver/getFile.do;ares/fileserver/delFile.do;
                 /ares/fileserver/*;db/prodList.do;propa/list/bannerDataList.do;ares/gstPwd/*;SunECMDM/servlet/*
             </param-value>
         </init-param>
     </filter>
     <filter-mapping>
         <filter-name>SessionFilter</filter-name>
         <url-pattern>*.do</url-pattern>
     </filter-mapping>
	<!-- DRUID监控, START-->
	<filter>
    	<filter-name>DruidWebStatFilter</filter-name>
    	<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
    	<init-param>
        	<param-name>exclusions</param-name>
        	<param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
    	</init-param>
  	</filter>
  	<filter-mapping>
    	<filter-name>DruidWebStatFilter</filter-name>
    	<url-pattern>/*</url-pattern>
 	</filter-mapping>
	<servlet>
		<servlet-name>DruidStatView</servlet-name>
	 	<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
	 	<init-param>
	        <param-name>resetEnable</param-name>
	        <param-value>false</param-value>
	    </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DruidStatView</servlet-name>
	  	<url-pattern>/druid/*</url-pattern>
	</servlet-mapping>
	<!-- DRUID监控, END -->
    <servlet>
        <servlet-name>ServerInit</servlet-name>
        <servlet-class>cn.com.yitong.framework.servlet.ServerInit</servlet-class>
        <load-on-startup>999</load-on-startup>
    </servlet>
    <!-- 前端会话渠道 -->
    <servlet>
        <servlet-name>mmp</servlet-name>
        <servlet-class>cn.com.yitong.framework.servlet.SpringDispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
		</init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>mmp</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <session-config> 
        <session-timeout>15</session-timeout>
    </session-config> 

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error/errorPage.jsp</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>index.do</welcome-file>
        <!-- <welcome-file>index.jsp</welcome-file> -->
    </welcome-file-list>
     <distributable/>
</web-app>
