<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>mmp-show</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:META-INF/spring/*-context.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!--为了取得程序的绝对路径 -->
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>mmp.root</param-value>
    </context-param>
    <listener>
        <listener-class>
            org.springframework.web.util.WebAppRootListener
        </listener-class>
    </listener>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>jsonpFilter</filter-name>
        <filter-class>cn.com.yitong.framework.filter.JsonpCallbackFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>jsonpFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>theadContextFiler</filter-name>
        <filter-class>cn.com.yitong.framework.filter.ThreadContextFilter</filter-class>
        <init-param>
            <param-name>loginUrls</param-name>
            <param-value>/ares/login/ClientNoLogin.do;/ares/appManage/saveAppVers.do;/fileUpload/breakpoint/zipUpload.do;/ares/file/upload.do
            </param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>theadContextFiler</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    
    <filter>
    	<filter-name>log4jFilter</filter-name>
    	<filter-class>cn.com.yitong.framework.filter.Log4jFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>log4jFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <filter>
         <filter-name>SessionFilter</filter-name>
         <filter-class>cn.com.yitong.framework.filter.SessionFilter</filter-class>
         <init-param>
             <param-name>exclude</param-name>
             <param-value>
                 index.do;ares/login/Client*;/ares/login/ClientNoLogin.do;/ares/login/ClientLogin.do;test/*;/common/*;
                 ares/login/BusiLog*;ares/login/NetworkHeart*;ares/appManage/*;download/userResource/*;/ares/file/upload.do;
                 ares/login/imageValidateCode.do;/fileUpload/breakpoint/zipUpload.do;/ares/file/*;/download/platResource/*;
             </param-value>
         </init-param>
     </filter>
     <filter-mapping>
         <filter-name>SessionFilter</filter-name>
         <url-pattern>*.do</url-pattern>
     </filter-mapping>
	<!-- DRUID监控, START-->
	<filter>
    	<filter-name>DruidWebStatFilter</filter-name>
    	<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
    	<init-param>
        	<param-name>exclusions</param-name>
        	<param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
    	</init-param>
  	</filter>
  	<filter-mapping>
    	<filter-name>DruidWebStatFilter</filter-name>
    	<url-pattern>/*</url-pattern>
 	</filter-mapping>
	<servlet>
		<servlet-name>DruidStatView</servlet-name>
	 	<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
	 	<init-param>
	        <param-name>resetEnable</param-name>
	        <param-value>false</param-value>
	    </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DruidStatView</servlet-name>
	  	<url-pattern>/druid/*</url-pattern>
	</servlet-mapping>
	<!-- DRUID监控, END -->
    <servlet>
        <servlet-name>ServerInit</servlet-name>
        <servlet-class>cn.com.yitong.framework.servlet.ServerInit</servlet-class>
        <load-on-startup>999</load-on-startup>
    </servlet>

    <!-- 前端会话渠道 -->
    <servlet>
        <servlet-name>mbank</servlet-name>
        <servlet-class>cn.com.yitong.framework.servlet.SpringDispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
		</init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>mbank</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
<!--     <session-config> -->
<!--         <session-timeout>15</session-timeout> -->
<!--     </session-config> -->

   	<servlet>
		<servlet-name>fileDownLoadServlet</servlet-name>
		<servlet-class>cn.com.yitong.framework.servlet.FileDownLoadServlet</servlet-class>
		<init-param>
			<param-name>serverPath</param-name>
			<param-value>/apple/download/</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
	   <servlet-name>fileDownLoadServlet</servlet-name>
	   <url-pattern>/apple/download/*</url-pattern>
	</servlet-mapping>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error/errorPage.jsp</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>index.do</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
